---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '../styles/global.css';
const pageTitle = "About Me";

const identity = {
  firstName: "Sushant",
  country: "India",
  occupation: "Full Stack Developer",
  hobbies: ["basketball", "video games"],
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "Angular",
  "Node",
  "Astro",
  "Writing Docs",
];

const happy = true;
const finished = false;
const goal = 3;
const skillColor = "crimson";
const fontWeight = 600;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style define:vars={{skillColor, fontWeight}}>
      h1 {
        color: purple;
        font-size: 4rem;
      }
      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
      }
    </style>
  </head>
  <body>
    <Header/>
    <h1>{pageTitle}</h1>

    <p>
      Hi I am {identity.firstName} working through Astro's introductory tutorial.
      I am from {identity.country} and work as a {identity.occupation}. My
      hobbies are {identity.hobbies[0]} and {identity.hobbies[1]}.
    </p>

    <p>My skills ate:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

    {happy && <p>I am happy to be learning Astro!</p>}
    {finished && <p>I finished this tutorial!</p>}
    {
      goal === 3 ? (
        <p>My goal is to finish in 3 days.</p>
      ) : (
        <p>My goal is not 3 days.</p>
      )
    }
    <Footer/>
  </body>
</html>
